<ul class="admin-menu-ul">
    <li class="admin-menu-list">
        <a class="admin-menu-link" href="{% url 'main:index' %}">
            на сайт
        </a>
    </li>
    <li class="admin-menu-list
        admin-menu-list{% if request.resolver_match.url_name in 'users, user_create, user_update, user_delete' %}-active{% endif %}">
        <a class="admin-menu-link" href="{% url 'admin_custom:users' %}">пользователи</a>
    </li>
    <li class="admin-menu-list
        admin-menu-list{% if request.resolver_match.url_name in 'categories, category_create, category_update, category_delete' %}-active{% endif %}">
        <a class="admin-menu-link" href="{% url 'admin_custom:categories' %}">категории</a>
    </li>
    <li class="admin-menu-list
        admin-menu-list{% if request.resolver_match.url_name in 'contacts, contact_create, contact_update, contact_delete' %}-active{% endif %}">
        <a class="admin-menu-link" href="{% url 'admin_custom:contacts' %}">контакты</a>
    </li>
    <li class="admin-menu-list
        admin-menu-list{% if request.resolver_match.url_name in 'orders, order_read, order_create, order_update, order_delete' %}-active{% endif %}">
        <a class="admin-menu-link" href="{% url 'admin_custom:orders' %}">заказы</a>
    </li>
</ul>