<ul class="products-nav">
    <li class="products-nav-list"><a class="products-nav-link-active" href="#">All</a></li>
    <li class="products-nav-list"><a class="products-nav-link" href="#">HOME</a></li>
    <li class="products-nav-list"><a class="products-nav-link" href="#">OFFICE</a></li>
    <li class="products-nav-list"><a class="products-nav-link" href="#">FURNITURE</a></li>
    <li class="products-nav-list"><a class="products-nav-link" href="#">MODERN</a></li>
    <li class="products-nav-list"><a class="products-nav-link" href="#">CLASSIC</a></li>
</ul>