{% load static %}

<a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
<ul class="menu">
    <li><a href="{% url 'main' %}"
           class="menu-link {% if request.resolver_match.url_name == 'main' %}menu-link-active{% endif %}">HOME</a></li>
    <li><a href="{% url 'products:index' %}"
           class="menu-link {% if request.resolver_match.namespace == 'products' %}menu-link-active{% endif %}">PRODUCTS</a></li>
    <li><a href="#"
           class="menu-link {% if request.resolver_match.url_name == '#' %}menu-link-active{% endif %}">HISTORY</a></li>
    <li><a href="{% url 'product-details' %}"
           class="menu-link {% if request.resolver_match.url_name == 'product-details' %}menu-link-active{% endif %}">SHOWROOM</a></li>
    <li><a href="{% url 'contacts' %}"
           class="menu-link {% if request.resolver_match.url_name == 'contacts' %}menu-link-active{% endif %}">CONTACT</a></li>
    <li><a href="#" class="menu-link"><img src="{% static 'img/search.svg' %}" alt="search"></a></li>
    <a href = "{% url 'basket:view' %}" class = "menu-basket"><img src="{% static 'img/bag.svg' %}" alt="basket"></a>
    {% if user.is_authenticated %}
        <span class="menu-basket-counter">{% if basket %}
            qty: {{ products_total_quantity|floatformat:0 }} pcs
            <br>
            price: {{ products_total_price }}$
        {% endif %}</span>
        <span class="menu-auth">
            <a class="menu-auth-link" href = "{% url 'auth:edit' %}">{{ user.username|default:'User' }} (edit)</a>
            <br>
            <a class="menu-auth-link" href = "{% url 'auth:logout' %}">logout</a>
        </span>
    {% else %}
        <span class="menu-auth">
            <a class="menu-auth-link" href = "{% url 'auth:login' %}">login</a>
            <br>
            <a class="menu-auth-link" href = "{% url 'auth:register' %}">register</a>
        </span>
    {% endif %}
</ul>
