{% extends 'mainapp/base.html' %}
{% load static %}
{% load custom_tags %}

{% block container %}
    <section class="padding-site">
        <header class="header header-overlap">
            {% include 'mainapp/includes/inc_header.html' %}
        </header>
        <div class="product-page-empty"></div>
        <div class="basket">
            <div class="basket-body">
                <div class="basket-header">
                    <div class="basket-body-name">
                        <img class="basket-bag" src="{% static 'img/bag.svg' %}" alt="bag">
                        <h3 class="basket-body-name-h3"></h3>Shopping Cart&nbsp;

                        {% if request.user.first_name %}
                            ({{ request.user.first_name|truncatechars_html:15|title }})
                        {% else %}
                            {{ request.user.username|truncatechars_html:15|title }}
                        {% endif %}

                    </div>
                    <a class="basket-back-to-link" href="{% url 'main:index' %}">
                        <div class="basket-back-to-button">Continue&nbsp;shopping</div>
                    </a>
                </div>
                <div class="basket_list">
                    {% include 'basketapp/includes/inc_basket_list.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
