{% load static %}
{% load custom_tags %}

{% for item in basket_items %}
    <div class="basket-row">
        <a class="basket-product-img-link" href="{% url 'product-details' item.product.pk %}" target="_blank">
            <img class="basket-product-img" src="/media/{{ item.product.image }}">
        </a>
        <div class="basket-product-about">
            <h4 class="basket-product-name">
                {{ item.product.name }}&nbsp;({{ item.product.category.name }})
            </h4>
            <h4 class="basket-product-description">
                {{ item.product.short_desc }}
            </h4>
        </div>
        <div class="basket-product-control">
            <div class="basket-product-price">
                <h6>${{ item.product.price }}</h6>
                <h6 class="basket-text-muted">&nbsp;x</h6>
            </div>
            <div class="basket-input">
                <input class="basket-input-field" type = "number" name = "{{ item.pk }}" min = "0" value = "{{ item.quantity }}">
            </div>
{#            <div class="basket-input">#}
{#                <a class="basket-input-dec-button" href="#">#}
{#                    <div class="basket-input-button">-</div>#}
{#                </a>#}
{#                <input class="basket-input-field" type="text" maxlength="2" name="{{ item.pk }}" value="{{ item.quantity }}" >#}
{#                <a class="basket-input-inc-button" href="#">#}
{#                    <div class="basket-input-button">+</div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="basket-input">#}
{#                <button class="basket-input-button" type="submit" value="-">-</button>#}
{#                <input class="basket-input-field" type="number" maxlength="2" name="{{ item.pk }}" value="{{ item.quantity }}">#}
{#                <button class="basket-input-button" type="submit" value="+">+</button>#}
{#            </div>#}
            <a class="basket-trash-link" href="{% url 'basket:remove' item.pk %}">
                <img class="basket-trash-img" src="{% static 'img/trash_basket.svg' %}" alt="trash_basket">
            </a>
        </div>
    </div>
{% endfor %}