{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <input class="form-control" type="submit" value="save">
    </form>
    <a href="{% url 'main' %}" class="btn btn-round form-control last">back to main page</a>
    <div class="user_avatar"><img src="/media/{{ user.avatar }}" alt="user.avatar"></div>

{% endblock %}

