{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <div class="auth-form-name">Edit form</div>

    <div class="form-wrapper">
        <form class="form-horizontal form-horizontal-edit" action="{% url 'auth:edit' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_form.as_p }}
            {{ profile_form.as_p }}
            <input class="btn btn-success form-control" type="submit" value="save">
        </form>
        <a href="{% url 'main:index' %}" class="btn btn-primary form-control form-horizontal form-control-back-to">back to main page</a>
        <div><img class="user_avatar" src="/media/{{ user.avatar|default:'users_avatars/default.svg' }}" alt="user.avatar"></div>
    </div>

{% endblock %}

