<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ page_title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
              integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body>
    <div class="admin-wrapper">
        <div class = "admin-container">
            <div class="admin-header">
                <div class = "admin-text-center">
                    админка
                </div>
                {% block menu %}
                    <div class = "admin-menu">
                        {% include 'adminapp/includes/inc_menu.html' %}
                    </div>
                {% endblock %}
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>

</html>
