{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="products_list">
        <div class="admin-new-item">
            <h4 class="admin-item-name">Категория:&nbsp;<b>{{ page_obj.0.category.name }}</b></h4>
            <a class="admin-new-item-button" href= {% url 'admin_custom:product_create' view.kwargs.pk %}>Создать новый продукт</a>
        </div>

        {% for object in page_obj %}
            <div class="admin-object-record
                {% if not object.is_active %}
                    not_active
                {% endif %}">
                <div class="admin-object-img" style="background-image: url('/media/{{ object.image|default:'products_images/default.svg' }}')"></div>
                <div class="admin-text-about">
                    <h4 class="admin-object-name">
                        {{ object.name|title }}
                    </h4>
                    <h4 class="admin-object-desc">
                        {{ object.short_desc|title }}
                    </h4>
                </div>
                <div class="admin-summary">
                    <h4 class="admin-summary-text"><b>цена</b>&nbsp;{{ object.price }}$</h4>
                    <h4 class="admin-summary-text"><b>количество</b>&nbsp;{{ object.quantity }}</h4>
                </div>
                <div class="admin-object-actions">
                    <a class="admin-object-actions-link" href= {% url 'admin_custom:product_read' object.pk %}>подробнее</a>
                    <a class="admin-object-actions-link" href= {% url 'admin_custom:product_update' object.pk %}>редактировать</a>
                    {% if object.is_active == True %}
                        <a class="admin-object-actions-link admin-object-actions-link-red" href= {% url 'admin_custom:product_delete' object.pk %}>удалить</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="admin-pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}