{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="admin-new-item">
        <h4 class="admin-item-name">
            {% if request.resolver_match.url_name == 'product_create' %}
                Создание продукта
            {% else %}
                Редактирование продукта
            {% endif %}
        </h4>
        {% if request.resolver_match.url_name == 'product_create' %}
            <a class="admin-new-item-button" href={% url 'admin_custom:products' view.kwargs.pk %}>
                К списку продуктов ({{ category_name }})
            </a>
        {% else %}
            <a class="admin-new-item-button" href={% url 'admin_custom:products' object.category.pk %}>
                К списку продуктов ({{ object.category.name }})
            </a>
        {% endif %}
    </div>

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
    </form>
{% endblock %}