{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
    <div class="users_list">
        <div class="admin-new-item">
            <h4 class="admin-item-name">Пользователи</h4>
            <a class="admin-new-item-button" href= {% url 'admin_custom:user_create' %}>Создать нового пользователя</a>
        </div>

        {% for object in object_list %}
            <div class="admin-object-record {% if not object.is_active %}not_active{% endif %}">
                <img class="admin-object-img" src="/media/{{ object.avatar|default:'users_avatars/default.jpg' }}" alt="{{ object.username }}">
                <div class="admin-text-about">
                    <p><b>Username:</b>&nbsp;{{ object.username }}</p>
                    <p><b>Name:</b>&nbsp;
                        {% if object.first_name %}
                            {{ object.first_name|title }}
                            {% if object.last_name %}
                                {{ object.last_name|title }}
                            {% endif %}
                            {% else %}
                                None
                        {% endif %}
                    </p>
                    <p><b>age:</b>&nbsp;{{ object.age }}&nbsp;лет</p>
                    <p><b>email:</b>&nbsp;{{ object.email }}</p>
                    <p><b>logged:</b>&nbsp;{{ object.last_login }}</p>
                </div>
                <div class="user_role">
                    {% if object.is_superuser %}
                        администратор
                    {% else %}
                        пользователь
                    {% endif %}
                </div>
                <div class="admin-object-actions">
                    <a class="admin-object-actions-link" href= {% url 'admin_custom:user_update' object.pk %}>редактировать</a>
                    <a class="admin-object-actions-link" href= {% url 'admin_custom:user_delete' object.pk %}>удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}