{% if object %}
    <div class="order-wrapper">
        <div class="order-h3">Order&nbsp;№{{ object.pk }}&nbsp;from&nbsp;{{ object.created|date:"Y-m-d H:i:s" }}</div>
        <div class="order-h5"><b>customer:</b>&nbsp;
            {% if user.first_name %}
                {{ user.first_name }}
                {% if user.last_name %}
                    {{ user.last_name }}
                {% endif %}
            {% else %}
                {{ user.username }}
            {% endif %}
        </div>
        <div class="order-h5"><b>updated:</b>&nbsp;{{ object.updated|date:"Y-m-d H:i:s" }}</div>
        <div class="order-h5"><b>status:</b>&nbsp;{{ object.get_status_display }}</div>
{#        {% with object_summary=object.get_summary %}#}
{#            <div class="order-h5">#}
{#                products total quantity:#}
{#                <span class="order_total_quantity">#}
{#                    {{ object_summary.total_quantity }}#}
{#                </span>#}
{#            </div>#}
{#            <div class="order-h4">#}
{#                total price:#}
{#                <span class="order_total_cost">#}
{#                    {{ object_summary.total_price }}#}
{#                </span>&nbsp;$#}
{#            </div>#}
{#        {% endwith %}#}
        <div class="order-h5">
            <b>products total quantity:</b>&nbsp;<span class="order_total_quantity">{{ object.get_total_quantity }}</span>
        </div>
        <div class="order-h4">
            <b>total price:</b>&nbsp;<span class="order_total_cost">{{ object.get_total_cost }}</span>$
        </div>
    </div>
{% else %}
    <div class="order-h3">New order</div>
    <hr>
    <div class="order-h5"><b>customer:</b>&nbsp;
        {% if user.first_name %}
            {{ user.first_name }}
            {% if user.last_name %}
                {{ user.last_name }}
            {% endif %}
        {% else %}
            {{ user.username }}
        {% endif %}
    </div>
{#    {% if user_basket.0 %}#}
        <div class="order-h5">
            <b>products total quantity:</b>&nbsp;<span class="order_total_quantity">
{#            {{ user_basket.0.get_products_total_quantity_by_user }}#}
        </span>
        </div>
        <div class="order-h5">
            <b>total price:</b>&nbsp;<span class="order_total_cost">
{#            {{ user_basket.0.get_products_total_price_by_user }}#}
        </span>$
        </div>
{#    {% endif %}#}
{% endif %}
