* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.top {
    flex-grow: 1;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.slider {
    height: 800px;
    background-image: url(/static/img/slider-img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.logo {
    margin-top: 64px;
}

.menu-link {
    padding: 10px 13px;
    display: block;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.slider-h4 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2.5px;
}

.slider-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-top: 10px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    height: 45px;
    text-decoration: none;
    line-height: 45px;
}

.button:hover {
    background-color: #f9f9f9;
}

.button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.slider-text {
    width: 458px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #212121;
    opacity: 0.2;
    display: block;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    opacity: 1;
}


.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 19px;
}

.circle-active {
    width: 40px;
    height: 40px;
    opacity: 1;
}

.featured {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding-bottom: 90px;
    padding-top: 100px;
}

.featured-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-new-menu {
    list-style-type: none;
    display: flex;
}

.featured-new-link {
    padding: 20px 20px 20px 9px;
    display: block;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.featured-new-link-active {
    padding: 20px 20px 18px 9px;
    display: block;
    border-bottom: 3px solid #212121;
    text-decoration: none;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}

.featured-new-link:hover {
    padding: 20px 20px 20px 9px;
    border-bottom: 1px solid #6c6c6c;
    color: #6c6c6c;
}

.explore-link {
    text-decoration: none;
    display: inline-block;
    width: 192px;
    height: 13px;
    color: #212121;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.explore-link:hover {
    text-decoration: underline;
}

.featured-product-in-box {
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
}

.product-in-box-link {
    display: block;
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    line-height: 54px;
}

.product-in-box-link-arrow {
    width: 12px;
}

.product-in-box-link:active {
    box-shadow: 0 0px 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.product-in-box-link:hover {
    background-color: #f9f9f9;
}

.product-in-box-name {
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    margin: 20px 0;
}

.product-in-box-details {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -0.4px;
}

.product-in-box-content {
    border: 1px solid #9c9c9c;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.featured-product-in-box:hover > .product-in-box-content {
    display: flex;
}

.featured-product-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

.promo-product-img {
    width: 683px;
}

.promo-h4 {
    width: 115px;
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.promo-h2 {
    width: 236px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.2px;
    margin-top: 10px;
}

.promo-p {
    width: 374px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.2px;
    width: 374px;
    line-height: 24.04px;
    margin-bottom: 27px;
    margin-top: 17px;
}

.promo-text {
    padding-left: 52px;
    width: 374px;
    height: 199px;
    align-items: center;
    position: absolute;
}

.promo-product {
    display: flex;
}

.promo-product-content {
    position: relative;
    display: flex;
    align-items: center;
}

.trending-products {
    background-color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.trending-products-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-products-text {
    width: 331px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.trending-product {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
}

.trending-products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 50px;
}

.trending-product:hover > .product-in-box-content {
    display: flex;
}

.hot-deals {
    height: 800px;
    background-image: url(/static/img/slider.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hot-deals-text {
    width: 458px;
}

.hot-deals-h4 {
    width: 105px;
    color: #e53935;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.hot-deals-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -2.5px;
    margin-top: 10px;
}

.hot-deals-p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 32px;
    margin-top: 10px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.hot-deals-pagination {
    display: flex;
    align-items: center;
    align-self: center;
    padding-bottom: 19px;
}

.hot-deals-empty-block {
    width: 0;
}

.exclusive {
    padding-top: 120px;
    padding-bottom: 90px;
}

.exclusive-content-product {
    width: 570px;
    height: 570px;
    background-image: url(/static/img/product-1-lg.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
}

.exclusive-content-product-in-box {
    height: 270px;
    width: 270px;
    margin-bottom: 30px;
}

.exclusive-content-product-in-box:hover > .product-in-box-content {
    display: flex;
}

.exclusive-content {
    display: flex;
    justify-content: space-between;
}

.exclusive-content-product-box {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    position: relative;
    overflow: hidden;
    padding-left: 30px;
}

.exclusive-content-product-tag {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.exclusive-content-product-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-top: 10px;
}

.exclusive-content-product-details {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 24.04px;
    letter-spacing: -0.2px;
}

.exclusive-content-product-text {
    width: 332px;
}

.mobile-app {
    height: 516px;
    background-image: url(/static/img/back-img.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-app-tag {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
}

.mobile-app-name {
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: -4.6px;
    margin-top: 10px;
}

.mobile-app-details {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.4px;
    margin-top: 20px;
    margin-bottom: 27px;
}

.mobile-app-text {
    width: 473px;
    display: flex;
    flex-direction: column;
}

.mobile-app-app-store {
    width: 135px;
    margin-right: 10px;
}

.mobile-app-google-play {
    width: 135px;
}

.mobile-app-stores {
    display: flex;
}





.footer-bottom {
    height: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}



.footer-bottom-socials {
    width: 129px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-socials-link:hover {
    opacity: 0.5;
}

.footer-bottom-copyright {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.footer-bottom-terms {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.footer-top {
    height: 147px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.footer-top-contact-us-name {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-top-contact-us-links {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-top: 16px;
}

.footer-top-contact-us {
    width: 221px;
}

.footer-top-useful-name {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-top-useful-link {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-decoration: none;
}

.footer-top-useful-link:hover {
    opacity: 0.5;
}

.footer-top-useful {
    width: 422px;
}

.footer-top-useful-links-1 {
    width: 211px;
    display: flex;
    flex-direction: column;
}

.footer-top-useful-links-2 {
    width: 211px;
    display: flex;
    flex-direction: column;
}

.footer-top-useful-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.footer-top-subscribe-name {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-top-subscribe-details {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 16px 0;
}

.footer-top-subscribe-input {
    width: 325px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 19px;
    border-right: none;
    outline-style: none;
}

.footer-top-subscribe {
    width: 370px;
    height: 147px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-top-subscribe-input[placeholder] {
    font-family: Montserrat;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.footer-top-subscribe-input-block {
    display: flex;
}

.footer-top-subscribe-input-button {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    border-left: none;
    outline-style: none;
}

.footer-top-subscribe-input-button:hover {
    background-color: #eee;
}

.product-top-title {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    margin-bottom: 44px;
}

.product-top {
    height: 360px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.products-nav-link {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    padding: 20px 27px 21px 7px;
    border-bottom: 1px solid transparent;
}

.products {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-bottom: 140px;
}

.products-nav {
    display: flex;
    align-items: center;
    margin-top: 71px;
}

.products-nav-list {
    list-style-type: none;
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 49px;
    width: 100%;
}

.product {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
}



.products-nav-link:hover {
    border-bottom: 1px solid #6c6c6c;
}

.product:hover > .product-in-box-content {
    display: flex;
}



.product-sync {
    align-self: center;
    margin-top: 71px;
}



.related-products {
    /*    height: 468px;*/
    background-color: #fff;
    padding-bottom: 90px;
}

.related-products-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.related-products-text {
    width: 331px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.3px;
}

.related-product {
    width: 370px;
    height: 370px;
    margin-bottom: 30px;
}

.related-products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding-top: 50px;
}

.related-product:hover > .product-in-box-content {
    display: flex;
}

.product-page {
    height: 900px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}

.product-img {
    width: 570px;
    height: 570px;
}

.product-slider {
    width: 570px;
    height: 651px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-mini-img-box {
    display: flex;
    justify-content: center;
}

.product-mini-img {
    width: 70px;
    height: 70px;
    margin: 0 5px;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    position: relative;
    overflow: hidden;
    padding-top: 40px;
    padding-right: 34px;
}

.product-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 8px;
}

.product-name {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.product-second-name {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 7px;
}

.price-currency {
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    margin-right: 15px;
}

.price-num {
    font-size: 72px;
    font-weight: 300;
    text-transform: uppercase;
}

.price-value {
    font-weight: 300;
    font-size: 36px;
}

.product-details {
    color: #212121;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.paragraph {
    margin-bottom: 7px;
}

.product-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4.4px;
    text-decoration: none;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    margin-top: 15px;
    margin-bottom: 40px;
}

.product-button-arrow {
    margin-left: 22px;
}

.product-page-nav {
    height: 70px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.product-page-nav-menu {
    display: flex;
    align-items: center;
}

.product-page-nav-list {
    list-style-type: none;
}

.product-page-nav-link {
    padding: 35px 15px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
}

.product-page-nav-link-active {
    padding: 35px 15px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
}

.product-page-nav-link:hover {
    color: #212121;
}

.product-button:hover {
    background-color: #e43326;
}

.product-button:active {
    box-shadow: 0 0 5px 1px rgba(33, 33, 33, 0.35);
    position: relative;
    top: 2px;
}

.contacts-top {
    height: 360px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-top-title {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    margin-bottom: 44px;
}


.fa-sync-alt {
    color: #212121;
    font-size: 42px;
    letter-spacing: 4.2px;
}

.fa-sync-alt:hover {
    color: #777;
}

.contacts-h3 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 27px;
}

.contacts-p-1 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 3px;
}

.contacts-p-2 {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
}

.contacts-p-3 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 370px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.contacts-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 71px;
    padding-bottom: 92px;
}



.products-nav-link-active {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    text-decoration: none;
    padding: 20px 27px 18px 7px;
    border-bottom: 3px solid #212121;
}

.footer-top-bottom {
    height: 384px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-map-marker-alt {
    color: #212121;
    font-size: 48px;
}
