{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<main class="main">
    <header class="header header-overlap padding-site">
            {% include 'mainapp/includes/inc_header.html' %}
    </header>
    <section class="contacts-top padding-site">
        <div></div>
        <h2 class="contacts-top-title">Contact Us</h2>
    </section>
    <section class="contacts-box padding-site">

        {% for object in object_list %}
            <div class="contact">
                <i class="fas fa-map-marker-alt"></i>
                <h3 class="contacts-h3">{{ object.name|upper }}</h3>
                <p class="contacts-p-1">Phone:</p>
                <p class="contacts-p-2">{{ object.phone }}</p>
                <p class="contacts-p-1">Email:</p>
                <p class="contacts-p-2">{{ object.email|lower }}</p>
                <p class="contacts-p-1">Address:</p>
                <p class="contacts-p-3">{{ object.address|capfirst }}</p>
            </div>
        {% endfor %}

    </section>
</main>
{% endblock %}
