{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<main class="main">
    <header class="header header-overlap padding-site">
        {% include 'mainapp/includes/inc_header.html' %}
    </header>

        {% for product in products|dictsortreversed:"pk"|slice:":1" %}
            <section class="slider padding-site" style="background-image: url('/media/{{ product.image }}')">
                <div></div>
                <div class="slider-text">
                    <h4 class="slider-h4">TRENDING</h4>
                    <h2 class="slider-h2">{{ product.name }}</h2>
                    <p class="slider-p">{{ product.short_desc }}</p>
                    <a href="{% url 'product-details' product.pk %}" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                </div>
        {% endfor %}

        <article class="slider-pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </article>
    </section>
    <section class="featured padding-site">
        <article class="featured-menu">
            <ul class="featured-new-menu">
                <li><a href="#" class="featured-new-link-active">Featured</a></li>
                <li><a href="#" class="featured-new-link">New</a></li>
            </ul>
            <a href="{% url 'products:index' %}" class="explore-link">explore all <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </article>
        <section class="featured-product-box">

            {% for product in products|slice:":4" %}
                <article class="featured-product-in-box" style="background-image: url('/media/{{ product.image }}')">
                    <div class="product-in-box-content">
                        <a class="product-in-box-link" href="{% url 'product-details' product.pk %}"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                        <h3 class="product-in-box-name">{{ product.name }}</h3>
                        <p class="product-in-box-details">{{ product.short_desc }}</p>
                    </div>
                </article>
            {% endfor %}

        </section>
    </section>
    <section class="promo-product">

        {% for product in products|slice:"16:18" %}
            <article class="promo-product-content promo-product-img" style="background-image: url('/media/{{ product.image }}')">
                <div class="promo-text">
                    <h4 class="promo-h4">exclusive</h4>
                    <h2 class="promo-h2">{{ product.name }}</h2>
                    <p class="promo-p">{{ product.short_desc }}</p>
                    <a href="{% url 'product-details' product.pk %}" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                </div>
            </article>
        {% endfor %}

    </section>
    <section class="trending-products padding-site">
        <section class="trending-products-menu">
            <p class="trending-products-text">Trending Products</p>
            <a href="{% url 'products:index' %}" class="explore-link">explore all <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
        </section>
        <section class="trending-products-content">

            {% for product in products|dictsortreversed:"quantity"|slice:":6" %}
                <article class="trending-product" style="background-image: url('/media/{{ product.image }}')">
                    <div class="product-in-box-content">
                        <a class="product-in-box-link" href="{% url 'product-details' product.pk %}"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                        <h3 class="product-in-box-name">{{ product.name }}</h3>
                        <p class="product-in-box-details">{{ product.short_desc }}</p>
                    </div>
                </article>
            {% endfor %}

        </section>
    </section>

    {% for product in products|dictsortreversed:"pk"|slice:"1:2" %}
        <section class="hot-deals padding-site" style="background-image: url('/media/{{ product.image }}')">
            <div></div>
            <div class="hot-deals-text">
                <h4 class="hot-deals-h4">TRENDING</h4>
                <h2 class="hot-deals-h2">{{ product.name }}</h2>
                <p class="hot-deals-p">{{ product.short_desc }}</p>
                <a href="{% url 'product-details' product.pk %}" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
            </div>
    {% endfor %}

        <div class="hot-deals-pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </section>
    <section class="exclusive padding-site">
        <section class="exclusive-content">

            {% for product in products|dictsort:"quantity"|slice:":1" %}
                <section class="exclusive-content-product" style="background-image: url('/media/{{ product.image }}')">
                    <div class="exclusive-content-product-text">
                        <h4 class="exclusive-content-product-tag">exclusive</h4>
                        <h2 class="exclusive-content-product-name">{{ product.name }}</h2>
                        <p class="exclusive-content-product-details">{{ product.short_desc }}</p>
                        <a href="{% url 'product-details' product.pk %}" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    </div>
                </section>
            {% endfor %}

            <section class="exclusive-content-product-box">

                {% for product in products|slice:"5:15"|dictsort:"quantity"|slice:":4" %}
                    <article class="exclusive-content-product-in-box" style="background-image: url('/media/{{ product.image }}')">
                        <div class="product-in-box-content">
                            <a class="product-in-box-link" href="{% url 'product-details' product.pk %}"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                            <h3 class="product-in-box-name">{{ product.name }}</h3>
                            <p class="product-in-box-details">{{ product.short_desc }}</p>
                        </div>
                    </article>
                {% endfor %}

            </section>
        </section>
    </section>
    <section class="mobile-app padding-site">
        <article class="mobile-app-text">
            <h4 class="mobile-app-tag">mobile app</h4>
            <h2 class="mobile-app-name">Find. Follow. Favorite.</h2>
            <p class="mobile-app-details">
                Save your favorites and share your style.
            </p>
            <div class="mobile-app-stores">
                <a href="#" class="mobile-app-app-store"><img src="{% static 'img/app-store.png' %}" alt="arrow"></a>
                <a href="#" class="mobile-app-google-play"><img src="{% static 'img/google-play.png' %}" alt="arrow"></a>
            </div>
        </article>
    </section>
</main>
{% endblock %}
