{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
<main class="main">
    <section class="product-top padding-site">
        <header class="header">
            {% include 'mainapp/includes/inc_header.html' %}
        </header>
        <h2 class="product-top-title">Our Products Range</h2>
    </section>
    <section class="products padding-site">
        {% include 'mainapp/includes/inc_products_nav.html' %}
        <section class="products-content">
            <article class="product" style="background-image: url({% static 'img/product-11.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-21.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-31.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-41.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-5.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-6.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-11.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-21.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-31.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-41.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-5.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
            <article class="product" style="background-image: url({% static 'img/product-6.jpg' %})">
                <div class="product-in-box-content">
                    <a class="product-in-box-link" href="#"><img class="product-in-box-link-arrow" src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                    <h3 class="product-in-box-name">Fishnet Chair</h3>
                    <p class="product-in-box-details">Seat and back with upholstery made of&nbsp;cold cure foam</p>
                </div>
            </article>
        </section>
        <section class="product-sync"><a href="#" class="product-sync-link"><i class="fas fa-sync-alt"></i></a></section>
    </section>
    <section class="promo-product">
        <article class="promo-product-content">
            <img class="promo-product-img" src="{% static 'img/promo-img1.jpg' %}" alt="promo-img1">
            <div class="promo-text">
                <h4 class="promo-h4">exclusive</h4>
                <h2 class="promo-h2">Fishnet Chair</h2>
                <p class="promo-p">
                    Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt
                </p>
                <a href="#" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
            </div>
        </article>
        <article class="promo-product-content">
            <img class="promo-product-img" src="{% static 'img/promo-img.jpg' %}" alt="promo-img1">
            <div class="promo-text">
                <h4 class="promo-h4">exclusive</h4>
                <h2 class="promo-h2">Fishnet Chair</h2>
                <p class="promo-p">
                    Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame, available in&nbsp;matt
                </p>
                <a href="#" class="button">order&nbsp;us <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
            </div>
        </article>
    </section>
</main>
{% endblock %}
