{% extends 'ordersapp/base.html' %}
{% load static %}


{% block container %}
    <div class="h2 text-center head">
        Your orders,
        {% if user.first_name %}
            {{ user.first_name|truncatechars_html:20|upper }}
        {% else %}
            {{ user.username|truncatechars_html:20|upper }}
        {% endif %}
    </div>
    <table class="table orders_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
            {% if item.is_active %}
                <tr>
                    <td class="td1 orders_list">{{ item.pk }}</td>
                    <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ item.get_status_display }}</td>
                    <td>
                        <a href="{% url 'order:order_read' item.pk %}">
                            view
                        </a>
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                            <a href="{% url 'order:order_update' item.pk %}">
                                edit
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if item.status == 'FM' %}
                            <a href="{% url 'order:order_delete' item.pk %}">
                                delete
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <a href="{% url 'main:index' %}" class="btn btn-primary btn-round">
            to the main page
        </a>
        <a href="{% url 'order:order_create' %}" class="btn btn-success btn-round">
            create new
        </a>
{% endblock %}